@import "font-awesome-sprockets";
@import "font-awesome";

nav .brand-logo {
    font-size: 3.5rem;
    margin-left: 2%;
}

.invite {
  margin-top: 8px;
}

.modal {
  max-height: 100%;
}

.modal-form-row {
  margin-bottom: 0px;
}