
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">xxxxxxx</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Services</h5>
                  <ul>
                      <li><a class="grey-text text-lighten-3" href="#">Book Emergency Appointments</a></li>
                      <li><a class="grey-text text-lighten-3" href="#">Search and Visit Hospitals</a></li>
                      <li><a class="grey-text text-lighten-3" href="#">Request Home Visit</a></li>
                      <li><a class="grey-text text-lighten-3" href="#">Donate Blood</a></li>
                      <li><a class="grey-text text-lighten-3" href="#">Register as a Doctor</a></li>
                  </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
      <div class="container">&copy; 2016. All Rights Reserved.
        <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger grey-text text-lighten-4 right invite" href="#invite-modal">Invite a Doctor</a>

        <!-- Modal Structure -->
        <div id="invite-modal" class="modal">
          <div class="modal-content">
            <h4 style="color:black;">Invite a Doctor</h4>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
          </div>
          <div class="modal-footer z-depth-2">
            <a data-target="invite-modal" class="modal-action modal-close waves-effect waves-green btn-flat">Send Invite</a>
          </div>
        </div>
      </div>

    </div>
</footer>
